<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="container justify-content-start mt-0">
  <h1 class="pb-3 mt-5 pt-0">Inbox</h1>
  <% @messages.each do |message| %>
    <div class="card" style="width: 24rem;">
      <div class="d-flex align-items-center p-2">
        <div><%= cl_image_tag(message.other_user(current_user).photo.key, class: "avatar") %></div>
          <div>
            <div class="px-3"><strong><%= message.other_user(current_user).first_name %></strong></div>
            <div class="px-3"><%= link_to message.content, new_message_path(:user_id) %></div>
          </div>
      </div>
    </div>
  <% end %>
</div>


