<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">



  <h1>Messages</h1>

  <% @messages.each do |message| %>
    <div class="card flex-container">
          <!-- email-1 -->
        <div class="card-wrapper">
          <%= cl_image_tag(message.other_user(current_user).photo.key, class: "rounded-circle") %>
          <a href="#!" class="flex-item" >
            <p class="content"><%= message.content %></p>
          </a>
        </div>
    </div>
  <% end %>








</div>
