<%= link_to inbox_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">Name of Person</h1>
<div class="container">
  <div class="card p-4 align-items-center" style="background-color: #D3D3D3;">
    <h3>You are now buddies for</h3><br>
    <h3><%= @event.name %>!</h3>
    <div>
      <%= cl_image_tag(@event.user.photo.key, class: "avatar") %>
      <%= cl_image_tag(current_user.photo.key, class: "avatar") %>
    </div>
    <p>Start your conversation below</p>
  </div>






</div>
