<%= link_to inbox_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">




<h1>Messages#new</h1>
<p>Find me in app/views/messages/new.html.erb</p>








</div>
