<%= link_to inbox_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="container">

  <div class="card p-4" style="background-color: #D3D3D3;">
    <h1>You are now buddies for <%= @event.name %>!</h1>
    <div>
      <%= cl_image_tag(@event.user.photo.key, class: "avatar") %>
      <%= cl_image_tag(current_user.photo.key, class: "avatar") %>
    </div>
    <p>Start your conversation below</p>
  </div>






</div>
