<%= link_to inbox_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">Name of Person</h1>
<div class="container">

  <div class="card p-4" style="background-color: #D3D3D3;">
    <h1>You are now buddies for <%#= event.name %>!</h1>
    <p>Start your conversation below</p>
  </div>





</div>
