.motivation-card {
  padding: 16px;

  .card-input {
    padding-top: 15px;
    margin-left: 2px;
  }

  #motivation {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 6px;
    padding: 8px;
    width: 100%;
  }
}