<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">





<h1>Events#delete</h1>
<p>Find me in app/views/events/delete.html.erb</p>










</div>
