<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">







<h1>Events for 20/02/2020</h1>
<p>Type of event</p>
<p>Time of day</p>

<div class="cards"></div>










</div>
