<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">







<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>










</div>
