<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">







<h1>Events#my_events</h1>
<p>Find me in app/views/events/my_events.html.erb</p>








</div>
