<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">





<h1>Send a message</h1>
<p>Find me in app/views/events/new.html.erb</p>







</div>
