<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">

<h2>Send a message</h2>

<div class="card">
  <div class="card-body">
  <form action="<%#= path %>" method="POST">
    <h5 class="card-title">Card title</h5>
    <textarea id="motivation" name="message" style="width:400px; height:100px;" maxlength="200" placeholder="Let them know why you are interested in the event!" ></textarea><br>
    <a href="#" class="max-length" >Max 200 characters</a><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>

</div>

</div>
