<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<%= link_to image_tag("logo.png", width: 20, class: 'page-title', style:"width: 112px") %>
<div class="container">
  <div class="card motivation-card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title title"><strong>Send a message</strong></h5>

      <form action="<%= event_requests_path(@event) %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

        <h5 class="card-input"></h5>
        <textarea id="motivation" name="request[motivation]" maxlength="200" placeholder="Let them know why you are interested in the event!" ></textarea><br>
        <p class="max-length" style="font-size: 12px; color: grey;">max 200 characters</p><br>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
  </div>
</div>
