<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">




<h1>Requests#new</h1>
<p>Find me in app/views/requests/new.html.erb</p>


<h2>Send a message</h2>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <input type="text" id="motivation" style="width:400px; height:100px;" maxlength="200"><br>
    <a href="#" class="max-length" >Max 200 characters</a><br>
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</div>

</div>
