<%= link_to root_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<div class="container">








<h1>Requests#submitted</h1>
<p>Find me in app/views/requests/submitted.html.erb</p>













</div>
