<%= month_calendar events: @events do |date, events| %>
  <%= link_to events_path({date: date}) do %>
    <div class="calendar-date">
      <%= date.day %>

      <div class="d-flex justify-content-start">
        <% events[0...3].each do |event| %>
          <% unless event.categories.empty? %>
            <i class="fas fa-circle" style="font-size: 7px; padding-right: 2px; color: <%= event.categories.first.color %>;"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
