<%= link_to root_path do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<br /><br />
<h1>TO-DO: Calendar</h1>
<br />

<h2>Coming up:</h2>

<ul>
  <% @events.each do |event| %>
    <li><%= link_to "event card for event: #{event.name}", event_path(event) %></li>
  <% end %>
</ul>
