<%= link_to welcome_path, class: "back-button" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h1 class="page-title">BUDDY</h1>
<div class="container">




<%= render partial: "calendar"#, locals: { events: @events } %>

<h2>Coming up:</h2>

<ul>
  <% @events.each do |event| %>
    <li><%= link_to "event card for event: #{event.name}", event_path(event) %></li>
  <% end %>
</ul>




</div>
