

<%= cl_image_tag @user.photo.key, height: 200, width: 200, crop: :fill %>


<h1>Hi <%= @user.first_name %></h1>


<h2>Search for an event</h2>


<%= link_to "!!!!TO DO!!! input form for location", root_path %>


<h2>or</h2>


<%= link_to "Suggest an event", new_event_path %>
