.simple-calendar{
  width: 360px;
  border: 1px solid #ccc;
  height: 370px;
  margin-bottom: 20px;
}

.simple-calendar table thead{
  font-size: 14px !important;
}

.calendar-date {
 text-decoration: none;
 width: 10px;
 height: 30px;
 color: gray;
}

.calendar-date:hover {
 color: black;
 text-decoration: none;
}

.day a:hover {
  text-decoration: none !important;
}

.calendar-heading {
  display: flex;
  background: rgb(200,200,205);
  justify-content: space-between;
  padding: 6px 16px;
  color: white;
  font-weight: bold;
}

.calendar-heading a {
  color: white;
  font-weight: bold;
}

.calendar-heading a hover {
  text-decoration: none;
}

.calendar-location{
  width: 360px;
  display: flex;
  justify-content: center;
  padding: 8px 12px;
  color: rgb(240,240,240);
  background: rgb(180,180,185);
  border-radius: 20px 20px 0 0;
}
