.card-filter {
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 6px;
  margin: 6px;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  width: 85px;
  text-align: center;
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  margin-bottom: 12px;
  color: #3B3B3B;
  position: relative;
  border-radius: 6px;
}

.card-right {
  width: 50%;
}

img.card-img {
  height: 200px !important;
  width: 300px !important;
  object-fit: cover;
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  max-width: 122px;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  max-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding-bottom: 10px;
}

.card-product ul {
  font-size: 14px;
  line-height: 2;
  // opacity: .7;
  margin-top: 8px;
  margin-bottom: 0;
}

.card-product li {
  max-height: 30px;
  max-width: 152px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.card-product .card-product-infos {
  padding: 14px;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.card-show {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.description {
  justify-content: flex-start;
  margin-bottom: 35px;
}

.event-card-address {
  font-size: 10px;
}

.card-request {
  display: flex;
  align-items: center;
  max-width: 100vw;
  width: 100px;

 .request-info {
  padding: 16px;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 2px;
 }

 .avatar-request {
  width: 60px;
  border-radius: 50%;
 }

}
