.filter {
  padding: 6px 12px;
  border-radius: 6px;
  margin: 6px;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  width: 85px;
  text-align: center;
}

.filter:hover {
  box-shadow:  rgba(0, 0, 0, 0.2) 2px 2px 10px 100px inset;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.deselected-filter {
  box-shadow:  rgba(0, 0, 0, 0.3) 0 0 0 100px inset;
  color: black;
  background-color: white !important;
}

.calendar-filter {
  padding: 6px 12px;
  border-radius: 6px;
  margin: 6px;
  color: white !important;
  font-weight: bolder;
  font-size: 12px;
  width: 85px;
  text-align: center;
}

.calendar-filter:hover {
  box-shadow:  rgba(0, 0, 0, 0.2) 2px 2px 10px 100px inset;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.selected-calendar-filter {
  color: #222 !important;
  box-shadow: 4px 4px 4px #222;
  background: linear-gradient(45deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.3) 40%, rgba(0,0,0,0.1) 100%);
}

.selected-calendar-filter:hover {
  color: #222 !important;
  box-shadow: 4px 4px 4px #222;
  background: linear-gradient(45deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0.3) 40%, rgba(0,0,0,0.3) 100%);

}

