.navbar-bottom {
  position: fixed;
  bottom: 0;
  height: 4rem;
  width: 100%;
  margin: 0 auto;
  border-top: solid 1px silver;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-bottom-item {
  text-align: center;
  flex-grow: 1;
  font-size: 1.8rem;
  color: rgba(0,0,0,0.3);
}

@media screen and (min-width: 1220px) {
  .navbar-bottom {
    display:none;
  }
}

.navbar-bottom-item:active {
  color: rgba(0,0,0,0.8);
}
.navbar-bottom-item:hover {
  color: rgba(0,0,0,0.3);
  }
