
// Don't touch this file, the navbar is perfect right now and somehow works, don't break it!


header {
  position: absolute;
  overflow: visible;
  z-index: 100;
  background-color: rgba(255, 118, 98, 1);
  width: 100%;

  a {
    text-decoration: none;
  }

  span.menu-control-open,
  span.menu-control-close,
  nav,
  a {
    color: gray;
  }
  a:hover{
    color: black;
    text-decoration: none;
  }

  i {
    color: black;
  }

  span.menu-control-open,
  span.menu-control-close,
  nav a {
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
    margin-bottom: 3rem;
  }

  span.menu-control-open,
  span.menu-control-close {
    display: block;
    cursor: pointer;
  }

  span.menu-control-open {
    position: relative;
    font-size: 1.8rem;
    line-height: 150%;
    float: right;
    margin: 12px;
    margin-right: 16px;
    margin-bottom: 6px;
    color: white;
  }

  #menuControlOpen i {
    color: white;
  }

  span.menu-control-close {
    font-size: 1.8rem;
    text-align: right;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  color: gray;
  height: 100vh;
  width: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
  a {
    transform: translate3d(-150px, 0, 0);
    transition: transform .15s ease-in;
  }

  .menu-inner {
    position: relative;
    height: 100%;
    width: 50vw;
    padding: 1.5rem;
  }
}

.menu--active {
  height: 100vh;
  overflow: hidden;

  nav a {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease-out;

    /* Handles items within the slide-out to give them the delayed slide-in */
    &:first-child {
      transition-delay: .1s;
    }
    &:nth-child(3) {
      transition-delay: .175s;
    }
    &:nth-child(4) {
      transition-delay: .25s;
    }
    &:nth-child(5) {
      transition-delay: .325s;
    }
    &:nth-child(6) {
      transition-delay: .4s;
    }
    &:last-child {
      transition-delay: .4s;
    }
  }
}

// This media query sets the width of the menu to be larger on a smaller screen
 @media screen and (max-width: 750px) {
  .menu--active .menu {
    width: 50%; }
}
  .container {
    padding-top: 2rem;
  }

// This media query sets the menu width to be slightly smaller on a larger screen (think an iPad)
@media screen and (min-width: 750px) and (max-width: 1220px) {
  .menu--active .menu {
    width: 35%;
    .menu-inner {
      width: 35vw;
    }
  }
}

// This media query styles the menu for a large environment (think a desktop)
@media screen and (min-width: 1220px) {
  .navbar-avatar{
    border: none !important;
  }
header nav a {
  color: white !important;
}
header nav a:hover {
  color: rgba(0,0,0,0.9) !important;
}

  .container {
    padding-top: 4rem;
  }
  #dim-background {
    display: none;
  }
  header {
    padding: 0.5rem 2.5rem;
    border-bottom: 1px solid silver;

    span.menu-control-open,
    span.menu-control-close {
      display: none;

    }

    .menu {
      position: static;
      overflow: visible;
      background-color: transparent;
      width: auto;
      height: auto;
      margin-top: 0;

      .menu-inner {
        padding: 0;
        width: 100%;
      }

      a {
        transform: none;
        transition: none;
      }
    }

    nav {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      a {
        font-size: 1.1rem;
        margin-left: 2.3rem;
        margin-right: 1.2rem;
        margin-top: 0.2rem;
        margin-bottom: 0;
      }
    }
  }
}

.navbar-avatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.back-button {
  padding: 20px;
  display: inline-block;
  position: relative;
  z-index: 2000;
  color: white;
  font-size: 1.3rem;
  top: -0.2rem;
}

.back-button:active {
  color: white;
}
.back-button:hover {
  color: white;
}


.menu-control-close i {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#dim-background{
    background-color: rgba(0, 0,0, 0.2);
    size: fill;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: 90;
    pointer-events: none;

}

.hide-dim-background {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: 0.3s;
}

.show-dim-background {
  opacity: 1 !important;
  pointer-events: auto !important;
  transition: 0.3s;
}
