h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

a {
  color: #262626;
}

a:link {
  text-decoration: none;
  color: #262626;
}

.container {
  width: 95%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.title {
  text-align: left;
  border-bottom: 3px solid #50bda1;
  width:60vw;
  padding: 2px 0;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
}

@media screen and (min-width: 1220px) {
  .container {
    width: 700px;
  }
  .title {
    width:35vw;
  }
}

@media screen and (max-width: 600px) {
  .title {
    margin-left: 0.5em;
  }
}

.btn-primary{
  color: white !important;
}

.btn-secondary{
  color: #50bda1 !important;
  background: none;
  border: #50bda1 1px solid;
  border-radius: 3px;
}
