h2 {
  font-size: 26px;
}

a {
  color: #262626;
}

a:link {
  text-decoration: none;
  color: #262626;
}

.container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

@media screen and (min-width: 1220px) {
  .container {
    width: 700ox;
  }
}

.form input[type="submit"] {
    border-radius: 5px;
    border:0;
    background:#235;
    color:#eee;
    line-height:27px;
    height:30px;
    float:right;
    cursor:pointer;
}
